/* .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
} */

.light{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: lightseagreen;
}
.dark{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    background-color: darkslategray;
}

.nav2{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}